:root {
    --i-text-color-default: currentColor;
}
.i-text {
    display: inline;
    color: var(--i-text-color-default);

    &--underline {
        text-decoration-line: underline;
    }

    &--block {
        display: block;
    }

    &--bold {
        font-weight: 700;
    }

    &--italic {
        font-style: italic;
    }

    &--center {
        text-align: center;
    }

    &--right {
        text-align: right;
    }

    &--justify {
        text-align: justify;
    }

    &--truncate {
        overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    }

    &--nowrap {
        white-space: nowrap;
    }

    &--uppercase {
        text-transform: uppercase;
    }

    &--xs {
        font-size: var(--i-font-size-xs);
    line-height: var(--i-line-height-xs);
    }

    &--sm {
        font-size: var(--i-font-size-sm);
    line-height: var(--i-line-height-sm);
    }

    &--md {
        font-size: var(--i-font-size-md);
    line-height: var(--i-line-height-md);
    }

    &--lg {
        font-size: var(--i-font-size-lg);
    line-height: var(--i-line-height-lg);
    }

    &--xl {
        font-size: var(--i-font-size-xl);
    line-height: var(--i-line-height-xl);
    }

    &--color-primary {
        color: var(--el-color-primary);
    }

    &--color-error, &--color-exception, &--color-danger {
        color: var(--el-color-danger);
    }

    &--color-success {
        color: var(--el-color-success);
    }

    &--color-warning {
        color: var(--el-color-warning);
    }

    &--color-info {
        color: var(--el-color-info);
    }

    &--color-paragraph {
        color: var(--i-text-color-primary);
    }

    &--color-regular {
        color: var(--i-text-color-regular);
    }

    &--color-secondary {
        color: var(--i-text-color-secondary);
    }

    &--color-placeholder {
        color: var(--i-text-color-placeholder);
    }

    &--color-disabled {
        color: var(--i-text-color-disabled);
    }
  }
