.i-flex-row {
    display: flex;
  }
  
  .i-flex-row-full {
    flex: 1;
    width: 100%;
  }
  
  .i-flex-row-rest {
    flex: 1;
  }
  
  .i-flex-row-vertical-center {
    align-items: center;
  }
  
  .i-flex-row-vertical-start {
    align-items: flex-start;
  }
  
  .i-flex-row-vertical-end {
    align-items: flex-end;
  }
  
  .i-flex-row-vertical-stretch {
    align-items: stretch;
  }
  
  .i-flex-row-horizontal-start {
    justify-content: flex-start;
  }
  
  .i-flex-row-horizontal-center {
    justify-content: center;
  }
  
  .i-flex-row-horizontal-end {
    justify-content: flex-end;
  }
  
  .i-flex-row-horizontal-between {
    justify-content: space-between;
  }
  
  .i-flex-row-horizontal-around {
    justify-content: space-around;
  }
  
  .i-flex-row-horizontal-evenly {
    justify-content: space-evenly;
  }
  
  .i-flex-row-gap-base {
    gap: var(--i-padding-base);
  }
  .i-flex-row-gap-xs {
    gap: var(--i-padding-xs);
  }
  .i-flex-row-gap-sm {
    gap: var(--i-padding-sm);
  }
  .i-flex-row-gap-md {
    gap: var(--i-padding-md);
  }
  .i-flex-row-gap-lg {
    gap: var(--i-padding-lg);
  }
  
  .i-flex-row-gap-xl {
    gap: var(--i-padding-xl);
  }