:root {
    --i-board-background: var(--deep-bg-color);
    --i-board-border: var(--el-border);
    --i-board-border-width: var(--el-border-width);
    --i-board-padding: var(--i-padding-md);
}

.i-board {
    border-radius: var(--i-radius-md);
    box-sizing: border-box;
    background-color: var(--i-board-background);
    border-color: var(--i-board-border);
    padding: var(--i-board-padding);
    display: flex;
    flex-direction: column;

    &--bordered {
        border-width: var(--i-board-border-width);
        border-style: solid;
    }

    &--full {
        min-height: 100%;
        flex: 1;
    }

    &--focus-full {
        height: 100%;
        max-height: 100%;
        overflow-y: auto;
        flex: 1;
    }
}