@keyframes i-slide-up-enter {
  from {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes i-slide-up-leave {
  to {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes i-slide-down-enter {
  from {
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes i-slide-down-leave {
  to {
    transform: translate3d(0, -100%, 0);
  }
}

@keyframes i-slide-left-enter {
  from {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes i-slide-left-leave {
  to {
    transform: translate3d(-100%, 0, 0);
  }
}

@keyframes i-slide-right-enter {
  from {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes i-slide-right-leave {
  to {
    transform: translate3d(100%, 0, 0);
  }
}

@keyframes i-fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes i-fade-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

@keyframes i-rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.i-fade {
  &-enter-active {
    animation: var(--i-duration-base) i-fade-in both var(--i-ease-out);
  }

  &-leave-active {
    animation: var(--i-duration-base) i-fade-out both var(--i-ease-in);
  }
}

.i-slide-up {
  &-enter-active {
    animation: i-slide-up-enter var(--i-duration-base) both
      var(--i-ease-out);
  }

  &-leave-active {
    animation: i-slide-up-leave var(--i-duration-base) both
      var(--i-ease-in);
  }
}

.i-slide-down {
  &-enter-active {
    animation: i-slide-down-enter var(--i-duration-base) both
      var(--i-ease-out);
  }

  &-leave-active {
    animation: i-slide-down-leave var(--i-duration-base) both
      var(--i-ease-in);
  }
}

.i-slide-left {
  &-enter-active {
    animation: i-slide-left-enter var(--i-duration-base) both
      var(--i-ease-out);
  }

  &-leave-active {
    animation: i-slide-left-leave var(--i-duration-base) both
      var(--i-ease-in);
  }
}

.i-slide-right {
  &-enter-active {
    animation: i-slide-right-enter var(--i-duration-base) both
      var(--i-ease-out);
  }

  &-leave-active {
    animation: i-slide-right-leave var(--i-duration-base) both
      var(--i-ease-in);
  }
}
