:root {
    --sjc-text-ellipsis-line-height: inherit;
    --sjc-text-ellipsis-action-color: var(--sjc-blue);
}

.sjc-text-ellipsis {
    line-height: var(--sjc-text-ellipsis-line-height);
    white-space: pre-wrap;

    &__action {
        cursor: pointer;
        color: var(--sjc-text-ellipsis-action-color);

        &:active {
            opacity: var(--sjc-active-opacity);
        }
    }
}