:root {
    --i-text-ellipsis-line-height: inherit;
    --i-text-ellipsis-action-color: var(--el-color-primary);
}

.i-text-ellipsis {
    line-height: var(--i-text-ellipsis-line-height);
    white-space: pre-wrap;

    &__action {
        cursor: pointer;
        color: var(--i-text-ellipsis-action-color);

        &:active {
            opacity: var(--i-active-opacity);
        }
    }
}